.App {
  text-align: center;
}

footer {
  width: auto;
  height: 100px;
  background-color: rgb(2, 59, 85);
  color: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin-top: auto;
  text-align: center;
}
